<h1> <%=@question.title%> </h1>
<p><%=@question.body%></p>

<h2>Answers:</h2>
<ul>

<% @question.answers.each do |answer| %>
  <li> <a href= "/questions/<%=@question.id%>/answers/<%=answer.id%>"><%= answer.body %></a> - <%=answer.user.email%>  </li>
<% end %>
</ul>

<a href="/questions/<%=@question.id%>/answers/new"> Submit an Answer</a>
